<!-- Header Section Start -->
<header class="header-section-1">
    <div id="header-sticky" class="header-1">
        <div class="container">
            <div class="mega-menu-wrapper">
                <div class="header-main">
                    <div class="header-left">
                        <div class="logo">
                            <a href="index.html" class="header-logo">
                                <img src="assets/images/logo/nearfence.svg" alt="NearFence" height="40" style="width:auto">
                            </a>
                        </div>
                    </div>
                    <div class="header-middle">
                        <div class="mean__menu-wrapper">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a href="#overview">Overview</a></li>
                                        <li><a href="#problem">Problem</a></li>
                                        <li><a href="#how-it-works">How It Works</a></li>
                                        <li><a href="#features">Features</a></li>
                                        <li><a href="#use-cases">Use Cases</a></li>
                                        <li><a href="#pricing">Pricing</a></li>
                                        <li><a href="#download">Download</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="header-right d-flex justify-content-end align-items-center">
                        <div class="header-button">
                            <a href="#login" class="theme-btn">
                                <span>Login <i class="fa-solid fa-arrow-right-long"></i></span>
                            </a>
                        </div>
                        <div class="header__hamburger d-block d-xl-none my-auto">
                            <div class="sidebar__toggle">
                                <i class="fas fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
